doctype html
html(ng-app='ptp_api')
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Bar - Details
		link(rel='stylesheet', href='/styles/bootstrap/bootstrap.css')
		link(rel='stylesheet', href='/styles/main.css')
	body
		nav.navbar.navbar-default(role='navigation')
			div.container-fluid
				div.navbar-header
					a.navbar-brand(href='/bars/') API
				div.collapse.navbar-collapse#bs-example-navbar-collapse-1
					ul.nav.navbar-nav
						li
							a(href='/bars/') Bars
						li
							a(href='/users/') Users
						li
							a(href='/modifications') Modifications
					ul.nav.navbar-nav.navbar-right
						li
							a(href="/auth/profile") Yo #{currentUser}
						li
							a(href='/auth/logout')
								span.glyphicon.glyphicon-off

		div.container
			div.row
				div.col-md-12.col-xs-12
					p #{barName}
					p #{barId}
					p #{barAddress}
					p #{barPrice}
					if resultAdd
						p Bar added by #{resultAdd.local.username}
					if resultModify
						p Bar modified by #{resultModify.local.username}
					p modifications waiting: 
						span= modifLength
