doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title API - Bars
		link(rel='stylesheet', href='/styles/bootstrap/bootstrap.css')
		link(rel='stylesheet', href='/styles/main.css')
		script(type='text/javascript' src='/scripts/angular/angular.js')
		script(type='text/javascript' src='/scripts/main.js')

	body(ng-app = "ptp_api")
		nav.navbar.navbar-default(role='navigation')
			div.container-fluid
				div.navbar-header
					a.navbar-brand(href='/bars/') API
				div.collapse.navbar-collapse#bs-example-navbar-collapse-1
					ul.nav.navbar-nav
						li
							a(href='/bars/') Bars
						li
							a(href='/users/') Users
						li
							a(href='/modifications') Modifications
					ul.nav.navbar-nav.navbar-right
						li
							a(href="/auth/profile") Yo #{currentUser}
						li
							a(href='/auth/logout')
								span.glyphicon.glyphicon-off

		div(ng-controller = "adminBarsCtrl" class="container")
			div.row
				div.col-md-10.col-sm-10.col-xs-10
					input(type='text' ng-model="filter" class="form-control" placeholder="Search by name, city or Address...")
				div.col-md-2.col-sm-2.col-xs-2#add-div
					a(href="/bar/new" id='add-container')
						button.btn.btn-primary#add-bar-btn
							span#plus +
							span#p Create Bar
			div.row
				div.col-md-12.col-sm-12.col-xs-12
					div.panel.panel-default
						div.panel.panel-heading
							table.table
								tr
									th Name
									th Price
									th Address
									th City
									th Validated
									th Actions
								each bar in bars
									tr(ng-show='isVisible("#{bar.name}", "#{bar.price}", "#{bar.address}")' ng-init='addBar("#{bar.id}", "#{bar.name}")')
										td
											a(href='/bar/#{bar.id}')= bar.name
										td= bar.price
										//- td= bar.location[0].streetNumber + ' ' + bar.location[0].streetName
										//- td= bar.location[0].zipcode + ' ' + bar.location[0].city
										td address
										td zipcode
										if !bar.isOn
											td
												span.glyphicon.glyphicon-remove
										else
											td
												span.glyphicon.glyphicon-ok
										td.crud
											a(href='/bar/edit/#{bar.id}')
												span.glyphicon.glyphicon-edit#edit
											button(type='submit' class='crud-button' ng-click="confirmRemove('#{bar.id}')")
												span.glyphicon.glyphicon-trash#delete
											//- form(method='post' action="/api/bar/#{bar.id}?_method=delete")
											//- 	button(type="submit" class="crud-button")
											//- 		span.glyphicon.glyphicon-remove#delete
			div#remove-alert(ng-init="!toggle" ng-show='toggle')
				div#alert-container(ng-click='toggle=!toggle')
					div(ng-click='toggle=!toggle' id='alert-content' class='panel panel-danger')
						div.panel-heading
							h4 Are you sure you wannt to remove the bar:
						div.panel-body
							h3 {{barToRemove.name}} ?
							div#buttons
								button(ng-click="toggle=!toggle" class="btn btn-default") Cancel
								form(method='post' action='{{ "/api/bar/" + barToRemove.id + "?_method=delete"}}')
									button(type='submit' ng-click="toggle=!toggle" class="btn btn-danger") Delete
